.to-do-container{

  margin-bottom: 10px;
  background-color: white;
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-right: 2rem;
  min-height: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;


  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  transition: all .3s;
}

.to-do-container:hover{
  scale: 1.05;
}

/*  State Change for if check box is checked */
.checked{
  background: linear-gradient(135deg, rgb(70, 219, 70),  rgba(255, 255, 255, 1));
}

.to-do-text-box{
  list-style-position: inside;
  font-size: 1rem;
  margin: 0px;
}

.to-do-check-box{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  transition: all .3s;
}

.to-do-check-box:hover{
  scale: 1.1;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.to-do-delete-button{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  font-size: 1rem;

  /* Style Looks */
  background-color: rgb(252, 100, 100);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 0;
  color: black;
  transition: all, .3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-delete-button:hover{
  background-color: rgb(255, 50, 50);
  scale: 1.1;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}