:root{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body{
  background: linear-gradient(0deg, rgba(0, 166, 255, 0.5), rgba(255, 0, 0, 0.5));
  height: 100vh;
  padding: 1rem;
}

.title{
  text-align: center;
}

.input-bar{
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.create-to-do-button{
  width: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

.to-do-bar{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.to-do-bar > * {
  padding: .5rem;
  font-size: 1rem;
}

.to-do-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.to-do-container{

  margin-bottom: 10px;
  background-color: white;
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-right: 2rem;
  min-height: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;


  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  transition: background-color .3s;
}

/*  State Change for if check box is checked */
.checked{
  background: linear-gradient(135deg, rgb(70, 219, 70),  rgba(255, 255, 255, 1));
}

.to-do-text-box{
  list-style-position: inside;
  font-size: 1rem;
  margin: 0px;
}

.to-do-check-box{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;


  border-radius: 5px;
}

.to-do-delete-button{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

  /* Style Looks */
  background-color: rgb(252, 100, 100);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.to-do-delete-button:hover{
  background-color: rgb(255, 50, 50);
  transition: background-color, .3s
}
